In [2]:
import numpy as np
import pandas as pd

In [9]:
raw_move = pd.read_csv('C:/Users/1306h/OneDrive/바탕 화면/시각화팀플/rawdata/시군구(서울, 경기)_연령(5세)별 이동자수(2010_2020).csv', encoding='cp949')
#raw_bus = pd.read_csv('가동사업자 현황 3(시군구)(2010_2019).csv', encoding='cp949')
#raw_jun = pd.read_csv('유형별 전세가격지수(2010.01_2020.12).csv', encoding='cp949')
#raw_mae = pd.read_csv('유형별 매매가격지수(2010.01_2020.12).csv', encoding='cp949')

In [10]:
df_move=raw_move.copy().fillna(0)
#df_bus=raw_bus.copy()
#df_jun=raw_jun.copy()
#df_mae=raw_mae.copy()

In [11]:
df_move.head(3)

,행정구역(시군구)별,성별,연령별,항목,단위,2021. 05 월,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,Unnamed: 17
0,서울특별시,계,계,총전입,명,112967,1733015.0,1721748.0,1555281.0,1520090,1573594.0,1589431.0,1515602.0,1472937.0,1439707.0,1426493.0,1578127.0,0.0
1,서울특별시,계,계,총전출,명,121276,1848038.0,1834806.0,1658928.0,1620640,1661425.0,1726687.0,1655859.0,1571423.0,1549937.0,1476081.0,1642977.0,0.0
2,서울특별시,계,계,순이동,명,-8309,-115023.0,-113058.0,-103647.0,-100550,-87831.0,-137256.0,-140257.0,-98486.0,-110230.0,-49588.0,-64850.0,0.0

In [12]:
df_move.columns

Index(['행정구역(시군구)별', '성별', '연령별', '항목', '단위', '2021. 05 월', '2010 년', '2011 년',
       '2012 년', '2013 년', '2014 년', '2015 년', '2016 년', '2017 년', '2018 년',
       '2019 년', '2020 년', 'Unnamed: 17'],
      dtype='object')

In [13]:
df_move = df_move.drop(['성별','단위','2021. 05 월','Unnamed: 17'], axis=1)

In [14]:
df_move.columns=['행정구역','연령','항목','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']

In [15]:
df_move.head(3)

,행정구역,연령,항목,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,서울특별시,계,총전입,1733015.0,1721748.0,1555281.0,1520090,1573594.0,1589431.0,1515602.0,1472937.0,1439707.0,1426493.0,1578127.0
1,서울특별시,계,총전출,1848038.0,1834806.0,1658928.0,1620640,1661425.0,1726687.0,1655859.0,1571423.0,1549937.0,1476081.0,1642977.0
2,서울특별시,계,순이동,-115023.0,-113058.0,-103647.0,-100550,-87831.0,-137256.0,-140257.0,-98486.0,-110230.0,-49588.0,-64850.0

In [16]:
df_new=pd.DataFrame()

In [17]:
df_new=df_move.transpose()[2:].reset_index()
df_new=df_new.rename(columns=df_new.iloc[0])
df_new=df_new.drop(df_new.index[[0]])

In [18]:
df_new=df_new.drop(columns=['항목'], axis=1)

In [19]:
df_new.head(5)

,총전입,총전출,순이동,시도내이동-시군구내,시도내이동-시군구간 전입,시도내이동-시군구간 전출,시도간전입,시도간전출,총전입,총전출,...,시도간전입,시도간전출,총전입,총전출,순이동,시도내이동-시군구내,시도내이동-시군구간 전입,시도내이동-시군구간 전출,시도간전입,시도간전출
1,1733015.0,1848038.0,-115023.0,520345.0,679363.0,679363.0,533307.0,648330.0,85902.0,102563.0,...,186.0,175.0,844.0,864.0,-20.0,579.0,108.0,108.0,157.0,177.0
2,1721748.0,1834806.0,-113058.0,543807.0,671315.0,671315.0,506626.0,619684.0,87910.0,103543.0,...,219.0,193.0,1010.0,960.0,50.0,662.0,109.0,109.0,239.0,189.0
3,1555281.0,1658928.0,-103647.0,473458.0,595842.0,595842.0,485981.0,589628.0,76893.0,91377.0,...,190.0,185.0,910.0,889.0,21.0,570.0,118.0,118.0,222.0,201.0
4,1520090,1620640,-100550,468394,584614,584614,467082,567632,76127,90535,...,224,161,1106,1078,28,742,126,126,238,210
5,1573594.0,1661425.0,-87831.0,495401.0,602622.0,602622.0,475571.0,563402.0,77759.0,91050.0,...,237.0,193.0,1109.0,1064.0,45.0,715.0,130.0,130.0,264.0,219.0

In [20]:
origin=pd.DataFrame()
result=pd.DataFrame()

for i in range(int(len(df_new.columns)/8)):
    for j in range(len(df_new)):
        start=0+(8*i)
        end=8+(8*i)
        temp=df_new.iloc[j,start:end].to_frame().transpose()
        result=pd.concat([origin,temp])
        origin=result
    origin=result

In [21]:
pd.set_option('display.max_row', 100)

In [22]:
result.insert(0,'행정구역',np.repeat(df_move['행정구역'].unique(),198))

In [23]:
result.insert(1,'연령',np.tile(np.repeat(df_move['연령'].unique(),11),83))

In [24]:
result.insert(2,'연도',np.tile(np.arange(2010,2021),1494))

In [30]:
result.head(100)

,행정구역,연령,연도,총전입,총전출,순이동,시도내이동-시군구내,시도내이동-시군구간 전입,시도내이동-시군구간 전출,시도간전입,시도간전출
0,서울특별시,계,2010,1733015.0,1848038.0,-115023.0,520345.0,679363.0,679363.0,533307.0,648330.0
1,서울특별시,계,2011,1721748.0,1834806.0,-113058.0,543807.0,671315.0,671315.0,506626.0,619684.0
2,서울특별시,계,2012,1555281.0,1658928.0,-103647.0,473458.0,595842.0,595842.0,485981.0,589628.0
3,서울특별시,계,2013,1520090,1620640,-100550,468394,584614,584614,467082,567632
4,서울특별시,계,2014,1573594.0,1661425.0,-87831.0,495401.0,602622.0,602622.0,475571.0,563402.0
5,서울특별시,계,2015,1589431.0,1726687.0,-137256.0,524267.0,605262.0,605262.0,459902.0,597158.0
6,서울특별시,계,2016,1515602.0,1655859.0,-140257.0,487722.0,574193.0,574193.0,453687.0,593944.0
7,서울특별시,계,2017,1472937.0,1571423.0,-98486.0,454536.0,564271.0,564271.0,454130.0,552616.0
8,서울특별시,계,2018,1439707.0,1549937.0,-110230.0,430780.0,548796.0,548796.0,460131.0,570361.0
9,서울특별시,계,2019,1426493.0,1476081.0,-49588.0,406796.0,543831.0,543831.0,475866.0,525454.0
10,서울특별시,계,2020,1578127.0,1642977.0,-64850.0,444682.0,623431.0,623431.0,510014.0,574864.0
11,서울특별시,0 - 4세,2010,85902.0,102563.0,-16661.0,27153.0,35845.0,35845.0,22904.0,39565.0
12,서울특별시,0 - 4세,2011,87910.0,103543.0,-15633.0,29373.0,36363.0,36363.0,22174.0,37807.0
13,서울특별시,0 - 4세,2012,76893.0,91377.0,-14484.0,25489.0,30689.0,30689.0,20715.0,35199.0
14,서울특별시,0 - 4세,2013,76127,90535,-14408,25460,30419,30419,20248,34656
15,서울특별시,0 - 4세,2014,77759.0,91050.0,-13291.0,26686.0,31793.0,31793.0,19280.0,32571.0
16,서울특별시,0 - 4세,2015,72249.0,88305.0,-16056.0,26220.0,28674.0,28674.0,17355.0,33411.0
17,서울특별시,0 - 4세,2016,67137.0,84184.0,-17047.0,23978.0,27042.0,27042.0,16117.0,33164.0
18,서울특별시,0 - 4세,2017,61690.0,75348.0,-13658.0,21310.0,24933.0,24933.0,15447.0,29105.0
19,서울특별시,0 - 4세,2018,55070.0,70812.0,-15742.0,19286.0,21870.0,21870.0,13914.0,29656.0
20,서울특별시,0 - 4세,2019,52361.0,62350.0,-9989.0,17575.0,21179.0,21179.0,13607.0,23596.0
21,서울특별시,0 - 4세,2020,56557.0,65555.0,-8998.0,18334.0,24079.0,24079.0,14144.0,23142.0
22,서울특별시,5 - 9세,2010,75671.0,81474.0,-5803.0,30093.0,26155.0,26155.0,19423.0,25226.0
23,서울특별시,5 - 9세,2011,70970.0,76127.0,-5157.0,29311.0,24096.0,24096.0,17563.0,22720.0
24,서울특별시,5 - 9세,2012,61511.0,66906.0,-5395.0,25340.0,20651.0,20651.0,15520.0,20915.0
25,서울특별시,5 - 9세,2013,59682,65133,-5451,24943,20160,20160,14579,20030
26,서울특별시,5 - 9세,2014,59645.0,64465.0,-4820.0,25174.0,20651.0,20651.0,13820.0,18640.0
27,서울특별시,5 - 9세,2015,55836.0,62524.0,-6688.0,24874.0,18475.0,18475.0,12487.0,19175.0
28,서울특별시,5 - 9세,2016,51907.0,59497.0,-7590.0,23075.0,17239.0,17239.0,11593.0,19183.0
29,서울특별시,5 - 9세,2017,49721.0,55437.0,-5716.0,21149.0,16938.0,16938.0,11634.0,17350.0
30,서울특별시,5 - 9세,2018,46131.0,53633.0,-7502.0,19670.0,15514.0,15514.0,10947.0,18449.0
31,서울특별시,5 - 9세,2019,46641.0,50024.0,-3383.0,18401.0,16197.0,16197.0,12043.0,15426.0
32,서울특별시,5 - 9세,2020,52750.0,57124.0,-4374.0,20050.0,19416.0,19416.0,13284.0,17658.0
33,서울특별시,10 - 14세,2010,89858.0,90748.0,-890.0,36795.0,32028.0,32028.0,21035.0,21925.0
34,서울특별시,10 - 14세,2011,86764.0,87930.0,-1166.0,37528.0,30187.0,30187.0,19049.0,20215.0
35,서울특별시,10 - 14세,2012,71561.0,73886.0,-2325.0,30619.0,24943.0,24943.0,15999.0,18324.0
36,서울특별시,10 - 14세,2013,66047,67875,-1828,28552,23020,23020,14475,16303
37,서울특별시,10 - 14세,2014,63592.0,64904.0,-1312.0,27943.0,22120.0,22120.0,13529.0,14841.0
38,서울특별시,10 - 14세,2015,59482.0,62260.0,-2778.0,27459.0,20070.0,20070.0,11953.0,14731.0
39,서울특별시,10 - 14세,2016,51303.0,54618.0,-3315.0,23283.0,17597.0,17597.0,10423.0,13738.0
40,서울특별시,10 - 14세,2017,47268.0,49220.0,-1952.0,20780.0,16461.0,16461.0,10027.0,11979.0
41,서울특별시,10 - 14세,2018,43908.0,46916.0,-3008.0,19289.0,14997.0,14997.0,9622.0,12630.0
42,서울특별시,10 - 14세,2019,43290.0,44066.0,-776.0,17811.0,15292.0,15292.0,10187.0,10963.0
43,서울특별시,10 - 14세,2020,45462.0,46943.0,-1481.0,18779.0,16140.0,16140.0,10543.0,12024.0
44,서울특별시,15 - 19세,2010,98742.0,98768.0,-26.0,36317.0,35548.0,35548.0,26877.0,26903.0
45,서울특별시,15 - 19세,2011,100994.0,101671.0,-677.0,38967.0,35732.0,35732.0,26295.0,26972.0
46,서울특별시,15 - 19세,2012,88563.0,88608.0,-45.0,32332.0,30238.0,30238.0,25993.0,26038.0
47,서울특별시,15 - 19세,2013,85499,85345,154,31438,29366,29366,24695,24541
48,서울특별시,15 - 19세,2014,85998.0,83822.0,2176.0,31939.0,28588.0,28588.0,25471.0,23295.0
49,서울특별시,15 - 19세,2015,86582.0,85746.0,836.0,33399.0,28121.0,28121.0,25062.0,24226.0
50,서울특별시,15 - 19세,2016,78305.0,77741.0,564.0,29221.0,24849.0,24849.0,24235.0,23671.0
51,서울특별시,15 - 19세,2017,73703.0,71062.0,2641.0,26032.0,23483.0,23483.0,24188.0,21547.0
52,서울특별시,15 - 19세,2018,67163.0,64252.0,2911.0,22349.0,21007.0,21007.0,23807.0,20896.0
53,서울특별시,15 - 19세,2019,64409.0,59542.0,4867.0,19360.0,19753.0,19753.0,25296.0,20429.0
54,서울특별시,15 - 19세,2020,63083.0,59647.0,3436.0,20083.0,19891.0,19891.0,23109.0,19673.0
55,서울특별시,20 - 24세,2010,132144.0,120079.0,12065.0,31483.0,42942.0,42942.0,57719.0,45654.0
56,서울특별시,20 - 24세,2011,131482.0,118553.0,12929.0,32685.0,42164.0,42164.0,56633.0,43704.0
57,서울특별시,20 - 24세,2012,127431.0,111385.0,16046.0,29827.0,38138.0,38138.0,59466.0,43420.0
58,서울특별시,20 - 24세,2013,126498,110866,15632,29974,38352,38352,58172,42540
59,서울특별시,20 - 24세,2014,137120.0,118784.0,18336.0,33278.0,41354.0,41354.0,62488.0,44152.0
60,서울특별시,20 - 24세,2015,145448.0,130777.0,14671.0,36733.0,44795.0,44795.0,63920.0,49249.0
61,서울특별시,20 - 24세,2016,146016.0,128436.0,17580.0,34578.0,43381.0,43381.0,68057.0,50477.0
62,서울특별시,20 - 24세,2017,144975.0,123801.0,21174.0,32382.0,43824.0,43824.0,68769.0,47595.0
63,서울특별시,20 - 24세,2018,145750.0,121769.0,23981.0,30381.0,43244.0,43244.0,72125.0,48144.0
64,서울특별시,20 - 24세,2019,148841.0,120321.0,28520.0,28699.0,43457.0,43457.0,76685.0,48165.0
65,서울특별시,20 - 24세,2020,164159.0,136324.0,27835.0,31624.0,50446.0,50446.0,82089.0,54254.0
66,서울특별시,25 - 29세,2010,246847.0,246931.0,-84.0,54186.0,98133.0,98133.0,94528.0,94612.0
67,서울특별시,25 - 29세,2011,229695.0,227017.0,2678.0,51710.0,90815.0,90815.0,87170.0,84492.0
68,서울특별시,25 - 29세,2012,206584.0,200823.0,5761.0,43697.0,79511.0,79511.0,83376.0,77615.0
69,서울특별시,25 - 29세,2013,189008,183661,5347,40399,72635,72635,75974,70627
70,서울특별시,25 - 29세,2014,191612.0,183648.0,7964.0,41307.0,72245.0,72245.0,78060.0,70096.0
71,서울특별시,25 - 29세,2015,193041.0,189922.0,3119.0,43397.0,73363.0,73363.0,76281.0,73162.0
72,서울특별시,25 - 29세,2016,191507.0,186524.0,4983.0,41746.0,71547.0,71547.0,78214.0,73231.0
73,서울특별시,25 - 29세,2017,199436.0,188655.0,10781.0,42198.0,74851.0,74851.0,82387.0,71606.0
74,서울특별시,25 - 29세,2018,214305.0,198945.0,15360.0,43368.0,80680.0,80680.0,90257.0,74897.0
75,서울특별시,25 - 29세,2019,225583.0,206537.0,19046.0,44938.0,85622.0,85622.0,95023.0,75977.0
76,서울특별시,25 - 29세,2020,248191.0,231203.0,16988.0,49705.0,98538.0,98538.0,99948.0,82960.0
77,서울특별시,30 - 34세,2010,225857.0,252556.0,-26699.0,57433.0,100169.0,100169.0,68255.0,94954.0
78,서울특별시,30 - 34세,2011,231055.0,255154.0,-24099.0,60510.0,102300.0,102300.0,68245.0,92344.0
79,서울특별시,30 - 34세,2012,221071.0,244175.0,-23104.0,55865.0,97166.0,97166.0,68040.0,91144.0
80,서울특별시,30 - 34세,2013,217644,241592,-23948,56005,96389,96389,65250,89198
81,서울특별시,30 - 34세,2014,223696.0,245443.0,-21747.0,58167.0,98912.0,98912.0,66617.0,88364.0
82,서울특별시,30 - 34세,2015,212393.0,237893.0,-25500.0,57320.0,93938.0,93938.0,61135.0,86635.0
83,서울특별시,30 - 34세,2016,197129.0,220933.0,-23804.0,51848.0,87368.0,87368.0,57913.0,81717.0
84,서울특별시,30 - 34세,2017,186520.0,203042.0,-16522.0,46755.0,83539.0,83539.0,56226.0,72748.0
85,서울특별시,30 - 34세,2018,180075.0,197124.0,-17049.0,44112.0,80438.0,80438.0,55525.0,72574.0
86,서울특별시,30 - 34세,2019,179166.0,190029.0,-10863.0,43063.0,80341.0,80341.0,55762.0,66625.0
87,서울특별시,30 - 34세,2020,201802.0,212596.0,-10794.0,46496.0,94448.0,94448.0,60858.0,71652.0
88,서울특별시,35 - 39세,2010,182899.0,204457.0,-21558.0,55482.0,76057.0,76057.0,51360.0,72918.0
89,서울특별시,35 - 39세,2011,173076.0,193117.0,-20041.0,55080.0,71305.0,71305.0,46691.0,66732.0
90,서울특별시,35 - 39세,2012,152166.0,171091.0,-18925.0,46749.0,62206.0,62206.0,43211.0,62136.0
91,서울특별시,35 - 39세,2013,145609,163684,-18075,44848,59996,59996,40765,58840
92,서울특별시,35 - 39세,2014,148587.0,165804.0,-17217.0,46399.0,61823.0,61823.0,40365.0,57582.0
93,서울특별시,35 - 39세,2015,149653.0,172550.0,-22897.0,48560.0,61879.0,61879.0,39214.0,62111.0
94,서울특별시,35 - 39세,2016,147551.0,171443.0,-23892.0,46772.0,61563.0,61563.0,39216.0,63108.0
95,서울특별시,35 - 39세,2017,147654.0,167997.0,-20343.0,44970.0,62474.0,62474.0,40210.0,60553.0
96,서울특별시,35 - 39세,2018,145324.0,170796.0,-25472.0,43441.0,61892.0,61892.0,39991.0,65463.0
97,서울특별시,35 - 39세,2019,144286.0,161964.0,-17678.0,41805.0,62113.0,62113.0,40368.0,58046.0
98,서울특별시,35 - 39세,2020,158442.0,176431.0,-17989.0,44282.0,71172.0,71172.0,42988.0,60977.0
99,서울특별시,40 - 44세,2010,145178.0,154460.0,-9282.0,49595.0,56751.0,56751.0,38832.0,48114.0